.container{
    display: flex;
    flex-direction:column;
}

.containerImage{
    order: -1;

    width: 70%;
    height: 13rem;
    position: relative;

    border-radius: 1.7rem;
    overflow: hidden;
}

.playlistTitle{
    font-size: 1.2rem;
    line-height: 1.25rem;
    color: rgb(190, 186, 186);
    margin: 0.7rem 0;
}

.tracksAmountPlaylist{
    font-size: 0.82rem;
    color: gray;
}